django
djangorestframework
django-webpack-loader

# can't install opencv, so did it in dockerfile
# compiles from source, would like to just use pip
# but figuring it out was taking forever, found
# someone who got it working last month by compiling it
# manually and took that solution
# https://stackoverflow.com/questions/36862589/install-opencv-in-a-docker-container
# opencv-python-headless
